* {
    padding: 8px;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    background-color: #869f39;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #FFE770;
}

.intro {
    font-size: 17pt;
    font-weight: bold;
    color: #3b3526;
    max-width: 710px;
    border-radius: 8px;
    display: inline;
}


body {
    background-image: url(../styles/burgundy.jpg);
    background-repeat: no=repeat;
    background-attachment: local;
    background-size: cover;
}


.welcome-image {
    resize: 30%;
    width: 150pt;
    float: middle;
}

.blog-1 {
    max-width: 600px;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FFE770;
    display: flex;
}

.blog-2 {
    max-width: 640px;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #869f39;
}

.media {
    max-width: 640px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #FFE770;
}

.footer {
    background-color: #c7a54e;
    padding: 45px;
    font-size: 60px;
    color: #1D4F06;
    text-align: center;
}